<div>
  <ul>
    <li><a class="home_icon" routerLink="/clinicalcentre/home"><fa name="fas fa-home fa-2x"></fa></a></li>
    <li><a class="li" routerLink="/clinicalcentre/clinics">Clinics</a></li>
    <li><a class="li" routerLink="/clinicalcentre/requests">Registration requests</a></li>
    <li class="li_on_the_right dropdown">
      <a class="active li dropbtn">email@email.com</a>
      <div class="dropdown-content">
        <a routerLink="/clinicalcentre/myprofile"><fa class="profile_icon" name="fas fa-user fa-3x"></fa>  My profile</a>
        <a routerLink="/login"><fa name="fas fa-sign-out"></fa> Logout</a>
      </div>
    </li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
