<div>
  <ul>
    <li><a class="home_icon" routerLink="/clinicalcentre/home"
           routerLinkActive="selected"><fa name="fas fa-home fa-2x"></fa></a></li>
    <li><a class="li" routerLink="/clinicalcentre/clinics"
           routerLinkActive="selected">Clinics</a></li>
    <li><a class="li" routerLink="/clinicalcentre/requests" *ngIf="userType === 'CLINICAL_CENTRE_ADMIN'"
           routerLinkActive="selected">Registration requests</a></li>
    <li><a class="li" routerLink="/clinicalcentre/workcalendar" *ngIf="userType === 'DOCTOR' || userType === 'CLINIC_ADMIN'"
           routerLinkActive="selected">Work calendar</a></li>
    <li><a class="li" routerLink="/clinicalcentre/appointmentrequests" *ngIf="userType === 'CLINIC_ADMIN'"
           routerLinkActive="selected">Appointment requests</a></li>
    <li class="li_on_the_right dropdown">
      <a class="li dropbtn">{{email}}</a>
      <div class="li_on_the_right dropdown-content ">
        <a routerLink="/clinicalcentre/myprofile"
           routerLinkActive="selected"><fa class="profile_icon" name="fas fa-user fa-3x"></fa>  My profile</a>
        <a (click)="onLogout()" ><fa name="fas fa-sign-out"></fa> Logout</a>
      </div>
    </li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
