<div>
  <ul><a routerLink="/clinicalcentre/myprofile/profile"
         routerLinkActive="selected">Profile</a></ul>
  <ul *ngIf="loggedInUser.userType==='PATIENT'">
    <a routerLink="/clinicalcentre/myprofile/history"
         routerLinkActive="selected">History</a></ul>
  <ul *ngIf="loggedInUser.userType==='PATIENT'">
    <a routerLink="/clinicalcentre/myprofile/medicalrecord"
       routerLinkActive="selected">Medical record</a></ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
