<div>
  <div class="overview">
    <h3 class="header">History of appointments and operations</h3>
    <div>
      <table>
        <tr>
          <th>Date and time</th>
          <th>Clinic</th>
          <th>Doctor</th>
          <th>Type</th>
          <th>Your score</th>
        </tr>
        <tr *ngFor="let score of scores">
          <td>{{ score.appointmentDTO.dateOfAppointment }} {{ score.appointmentDTO.timeOfAppointment }}</td>
          <td>{{ score.appointmentDTO.clinic.name }}, {{ score.appointmentDTO.clinic.address }}</td>
          <td>{{ score.appointmentDTO.doctor.name }} {{ score.appointmentDTO.doctor.surname }}</td>
          <td>{{ score.appointmentDTO.type.name }}</td>
          <td>
            <div *ngIf="score.scoreForClinic !== null">
              Clinic score:
              <fa *ngFor="let i of convertScoreToStars(score.scoreForClinic)"
                  name="fas fa-star" aria-hidden="true"></fa>
              <br>
            </div>
            <div *ngIf="score.scoreForClinic === null">
              Clinic score:
              <input type="number" max="5" min="1" style="width: 50px;"
                     [(ngModel)]="score.givenClinicScore">
              <br>
            </div>

            <div *ngIf="score.scoreForDoctor !== null">
              Doctor score:
              <fa *ngFor="let i of convertScoreToStars(score.scoreForDoctor)"
                  name="fas fa-star" aria-hidden="true"></fa>
              <br>
            </div>
            <div *ngIf="score.scoreForDoctor === null">
              Doctor score:
              <input type="number" max="5" min="1" style="width: 50px;"
                     [(ngModel)]="score.givenDoctorScore">
              <br>
            </div>
            <button [disabled]="score.scoreForDoctor !== null
                  && score.scoreForClinic !== null"
              name="showScore" class="btn btn-primary" type="button"
                    (click)="submitScore(score)">Add score</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
