<div class="overview">
  <h3 class="header">Registration requests</h3>
  <div *ngFor="let request of requests">
    <table>
      <tr (click)="onSelect(request)"
          [ngClass]="{requestSelected: selectedRequest !== null
            && selectedRequest.userData.username === request.userData.username}">
        <td>{{ request.userData.username }}</td>
        <td>{{ request.userData.name }} {{ request.userData.surname }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="details">
  <div *ngIf="selectedRequest === null">
    <h5 class="detailsNotSelected">Please select request to see more details.</h5>
  </div>
  <div *ngIf="selectedRequest !== null">
    <h5>Request details</h5><br>
    <div>
      <div class="dataSection">
        <label>Username: <b>{{ selectedRequest.userData.username }}</b></label><br>
        <label>Name and surname: <b>{{ selectedRequest.userData.name }} {{ selectedRequest.userData.surname }}</b></label><br>
        <label>Address: <b>{{ selectedRequest.userData.address }}, {{ selectedRequest.userData.city }}, {{ selectedRequest.userData.state }}</b></label><br>
        <label>Phone Number: <b>{{ selectedRequest.userData.phoneNumber }}</b></label><br>
        <label>Insurance Number: <b>{{ selectedRequest.userData.insuranceNumber }}</b></label><br>
      </div>
      <div class="buttons">
        <button class="btn btn-sm btn-success buttonMargin" type="button" (click)="onAccept()">Accept</button>
        <button class="btn btn-sm btn-danger buttonMargin" type="button" (click)="onReject()">Reject</button>
      </div>
      <div class="reasonSection" *ngIf="rejected">
        <p>Please enter reason for rejecting: </p>
        <textarea class="form-control" type="text" name="reason" id="reason" ngModel #reasonInput="ngModel"></textarea>
        <button class="btn btn-sm btn-success reasonButton" type="submit"
                [disabled]="reasonInput.value === '' || reasonInput.value === null || reasonInput.value === undefined"
                (click)="onReasonSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
