<a class="btn filterButtons" routerLink="/clinicalcentre/clinics">
  <fa name="fas fa-arrow-left" aria-hidden="true"></fa> Back</a>
<h3 class="filterHeader">Search appointments that you need</h3>
<div class="filters">
  <form (ngSubmit)="searchClinics(f)" #f="ngForm">
    <label>Date: </label>
    <input type="date" name="date" id="date" ngModel  required #date="ngModel" class="btn filterButtons">
    <label>Type: </label>
    <select class="btn filterButtons" name="type" id="type" required ngModel #type="ngModel">
      <option *ngFor="let type of allTypesOfAppointments" value="{{type}}">{{ type }}</option>
    </select>
    <button class="btn filterButtons" type="submit">Search</button>
    <label *ngIf="!formValid" style="color:red;text-size:10px;">Both date and type should be filled in.</label>
  </form><br>
  <div *ngIf="filtered">
    <input class="input_field h5" type="text" name ="filterName" [(ngModel)]="filterName"
           placeholder="Clinic name" (keyup)="filter(filterName, filterScore, filterAddress, filterPrice)">
    <input class="input_field h5" type="text" name ="filterScore" [(ngModel)]="filterScore"
           placeholder="Clinic score" (keyup)="filter(filterName, filterScore, filterAddress, filterPrice)">
    <input class="input_field h5" type="text" name ="filterAddress" [(ngModel)]="filterAddress"
           placeholder="Clinic address" (keyup)="filter(filterName, filterScore, filterAddress, filterPrice)">
    <input class="input_field h5" type="text" name ="filterPrice" [(ngModel)]="filterPrice"
           placeholder="Price" (keyup)="filter(filterName, filterScore, filterAddress, filterPrice)"><br>
  </div>
  <table *ngIf="clinics !== undefined && clinics.length > 0 && searched">
    <tr>
      <th>Clinic name</th>
      <th>Clinic score</th>
      <th>Clinic address</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let clinic of clinics"
        routerLink="/clinicalcentre/doctors/{{clinic.clinicId}}/{{clinic.date}}/{{clinic.typeName}}">
      <td>{{ clinic.clinicName }}</td>
      <td><fa *ngFor="let i of convertScoreToStars(clinic.clinicScore)"
              name="fas fa-star" aria-hidden="true"></fa></td>
      <td>{{ clinic.clinicAddress }}</td>
      <td>{{ clinic.price }}</td>
    </tr>
  </table>
  <div *ngIf="(clinics === undefined || clinics === null || clinics.length === 0)
      && searched && !errorMessage">
    <h3 class="header">No results found for given date and type of the appointment.</h3>
  </div>
  <div *ngIf="clinics === undefined && errorMessage">
    <div class="alert alert-danger info_block">
      <p>{{ errorMessage }}</p>
    </div><br>
  </div>
</div>
