
.filterButtons {
  color: white;
  background-color: gray;
  margin: 0 2% 0 2%;
}

.filterHeader {
  margin-bottom: 20px;
  margin-left: 30%;
  margin-top: -30px;
}

.filters {
  margin-left: 20%;
}
